<br>
<br>
<form #f="ngForm" (ngSubmit)="f.valid && savaSubscriber()">

    <!-- <div *ngIf="id!=null"> -->

    <div class="wrapper" *ngIf="id != -1">
        <h2>עדכון מנוי</h2>

        <mat-form-field>
            <mat-label>תעודת זהות</mat-label>
            <input matInput name="subId" [(ngModel)]="newSubsriber.id" disabled required>
        </mat-form-field>
    </div>

    <div class="wrapper" *ngIf="id==-1">
        <h2>הוספת מנוי</h2>

        <mat-form-field>
            <mat-label>תעודת זהות</mat-label>
            <input matInput name="subId" type="id" [(ngModel)]="newSubsriber.id" required>
        </mat-form-field>

    </div>
    <div class="wrapper">
        <mat-form-field>
            <mat-label>שם פרטי</mat-label>
            <input matInput name="subFirstName" [(ngModel)]="newSubsriber.firstName" required>
        </mat-form-field>
    </div>
    <mat-form-field>
        <mat-label>שם משפחה</mat-label>
        <input matInput name="subLastName" [(ngModel)]="newSubsriber.lastName" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>כתובת</mat-label>
        <input matInput name="subAddress" [(ngModel)]="newSubsriber.address" required>
    </mat-form-field><br><br>

    <mat-form-field>
        <mat-label>טלפון</mat-label>
        <input matInput name="subPhon" type="tel" [(ngModel)]="newSubsriber.phon" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>מייל</mat-label>
        <input matInput name="subMail" type="email" [(ngModel)]="newSubsriber.email" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label> כמות ספרים למנוי .</mat-label>
        <mat-select [(ngModel)]="newSubsriber.type" name="subType">
            <mat-option *ngFor="let subType of subscriptionTypes" [value]="subType.codeType" required>

                {{subType.numOfBooks}}
            </mat-option>
        </mat-select>
    </mat-form-field><br><br>

    <input type="submit" class="example-button-row" mat-stroked-button color="accent" value="save"> routerLink="/subscribers"


</form>