<br><br>

<form #f="ngForm" (ngSubmit)="f.valid && savaBook()">
    <h2>הוספת ספר</h2>


    <mat-form-field>
        <mat-label>שם ספר</mat-label>
        <input matInput name="bookName" pattern="[A-Za-z\u0590-\u05FF ]*{20}" [(ngModel)]="newBook.name" required>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            book name is <strong>required</strong>
        </mat-error>
    </mat-form-field>


    <mat-form-field>
        <mat-label>תאריך קטלוג</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="newBook.date" name="dateK" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label> מחבר .</mat-label>
        <mat-select [(ngModel)]="newBook.codAauthor" name="codeA" required>
            <mat-option *ngFor="let author of authors" [value]="author.codAauthor">

                {{author.LiteraryAlias}}

            </mat-option>
            <mat-option routerLink="/addAuthor/-1">חדש</mat-option>
        </mat-select>
    </mat-form-field><br><br>

    <mat-form-field appearance="fill">
        <mat-label> קהל יעד .</mat-label>
        <mat-select [(ngModel)]="newBook.codeCrowd" name="codeC" required>
            <mat-option *ngFor="let crowd of crowds" [value]="crowd.codeCrowd">
                {{crowd.nameCrowd}}
            </mat-option>
        </mat-select>
    </mat-form-field>



    <mat-form-field appearance="fill">
        <mat-label> קטגוריה .</mat-label>
        <mat-select [(ngModel)]="newBook.codeCategory" name="codeCa" required>
            <mat-option *ngFor="let category1 of category" [value]="category1.codeCategory">
                {{category1.nameCategory}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label>מס עותקים</mat-label>
        <input matInput type="number" name="numOfCopies" pattern="[0-9]" (keyup)="_keyUp($event)" [(ngModel)]="newBook.numOtakim" class="form-control" required>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            <strong>required</strong>
        </mat-error>
    </mat-form-field><br><br>



    <mat-form-field>
        <mat-label>מחיר</mat-label>
        <input matInput name="price" type="number" (keyup)="_keyUp($event)" [(ngModel)]="newBook.price" class="form-control" required/>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            price is <strong>required</strong>
        </mat-error>
    </mat-form-field><br><br>
    <input type="submit" value="הוסף"><br><br>
</form>