
<h2> ספרים</h2>


<button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon"  routerLink="/addBook">
  <mat-icon>plus_one</mat-icon>
</button>
<br>

<table mat-table [dataSource]="books" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="codeBooke">
    <th mat-header-cell *matHeaderCellDef> קוד ספר </th>
    <td mat-cell *matCellDef="let element"> {{element.codeBook}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> שם הספר </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef> מחבר </th>
    <td mat-cell *matCellDef="let element"> {{element.author}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> תאריך קיטלוג </th>
    <td mat-cell *matCellDef="let element"> {{  element.date| date:'shortDate' }} </td>
  </ng-container>

  <ng-container matColumnDef="crowd">
    <th mat-header-cell *matHeaderCellDef> קהל יעד </th>
    <td mat-cell *matCellDef="let element"> {{element.crowd}} </td>
  </ng-container>


  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> תחום </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <ng-container matColumnDef="numOtakim">
    <th mat-header-cell *matHeaderCellDef> מס עותקים </th>
    <td mat-cell *matCellDef="let element"> {{element.numOtakim}} </td>
  </ng-container>

  <ng-container matColumnDef="otakim">
    <th mat-header-cell *matHeaderCellDef> עותקים </th>
    <td mat-cell *matCellDef="let element"> <a routerLink="/copiec/{{element.codeBook}}">לעותקים</a> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>