<br><br>
<form>

  שם:<input type="text" ><br><br>
  מחבר:<input type="text" ><br><br>
  תאריך קטלוג:
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field><br><br>
  קהל יעד:<input type="text" >
  
  
  <!-- <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
            matInput
           
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">[formControl]="myControl"
      <mat-option *ngFor="let option of crowds" [value]="option">
        {{option.nameCrowd}}
        
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> -->
  <br><br>

  תחום:<input type="text" ><br><br>
  מס עותקים:<input type="number" ><br><br>
  <input type="submit" value="הוסף"  (click)="savaBook()">
</form>



<table mat-table [dataSource]="books" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="codeBooke">
    <th mat-header-cell *matHeaderCellDef> קוד ספר </th>
    <td mat-cell *matCellDef="let element"> {{element.codeBook}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> שם הספר </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef> מחבר </th>
    <td mat-cell *matCellDef="let element"> {{element.author}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> תאריך קיטלוג </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="crowd">
    <th mat-header-cell *matHeaderCellDef> קהל יעד </th>
    <td mat-cell *matCellDef="let element"> {{element.crowd}} </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> תחום </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <ng-container matColumnDef="numOtakim">
    <th mat-header-cell *matHeaderCellDef> מס עותקים </th>
    <td mat-cell *matCellDef="let element"> {{element.numOtakim}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



