<br><br>
<form>

  <input type="text" placeholder="שם ספר" name="bookName" [(ngModel)]="newBook.name">
  <input type="text" placeholder="מחבר">
  <mat-form-field>
    <mat-label>תאריך קטלוג</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field><br><br>
  <input type="text" placeholder="קהל יעד">

  <mat-form-field appearance="fill">
    <mat-label> תחום .</mat-label>
    <mat-select [(ngModel)]="newBook.codeCrowd" name="codeC">
      <mat-option *ngFor="let crowd of crowds" [value]="crowd.codeCrowd">
        {{crowd.nameCrowd}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <br><br>

  <input type="text" placeholder=" תחום">
  <input type="number" placeholder="מס עותקים">
  <input type="submit" value="הוסף" (click)="savaBook()">
</form>


<p>{{newBook|json}}</p>
<table mat-table [dataSource]="books" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="codeBooke">
    <th mat-header-cell *matHeaderCellDef> קוד ספר </th>
    <td mat-cell *matCellDef="let element"> {{element.codeBook}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> שם הספר </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef> מחבר </th>
    <td mat-cell *matCellDef="let element"> {{element.author}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> תאריך קיטלוג </th>
    <td mat-cell *matCellDef="let element"> {{  element.date| date:'shortDate' }} </td>
  </ng-container>

  <ng-container matColumnDef="crowd">
    <th mat-header-cell *matHeaderCellDef> קהל יעד </th>
    <td mat-cell *matCellDef="let element"> {{element.crowd}} </td>
  </ng-container>


  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> תחום </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <ng-container matColumnDef="numOtakim">
    <th mat-header-cell *matHeaderCellDef> מס עותקים </th>
    <td mat-cell *matCellDef="let element"> {{element.numOtakim}} </td>
  </ng-container>

  <ng-container matColumnDef="otakim">
    <th mat-header-cell *matHeaderCellDef> עותקים </th>
    <td mat-cell *matCellDef="let element"> <a routerLink="/copiec/{{element.codeBook}}">לעותקים</a> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>