<br><br>

<form #f="ngForm" (ngSubmit)="f.valid && savaAuthor()">
    <h2>הוספת מחבר</h2>


    <mat-form-field>
        <mat-label>שם פרטי</mat-label>
        <input matInput name="authorFirstName" pattern="[A-Za-z\u0590-\u05FF ]*" [(ngModel)]="newAuthor.firstName" required>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            first name is <strong>required</strong>
        </mat-error>
    </mat-form-field>


    <mat-form-field>
        <mat-label>שם משפחה</mat-label>
        <input matInput name="authorLasttName" pattern="[A-Za-z\u0590-\u05FF ]*" [(ngModel)]="newAuthor.lastName" required> emailFormControl = new FormControl('', [ Validators.required, Validators.email, ]);
        <mat-error *ngIf="emailFormControl.hasError('required')">
            last name is <strong>required</strong>
        </mat-error>
    </mat-form-field>


    <mat-form-field>
        <mat-label>שם ספרותי</mat-label>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            <strong>required</strong>
        </mat-error> <input matInput name="authorSerialName" pattern="[A-Za-z\u0590-\u05FF ]*" [(ngModel)]="newAuthor.LiteraryAlias" required>
    </mat-form-field>




    <input type="submit" value="הוסף"><br><br>
</form>