h1{
    font-size: 70px;
   text-align: center; 
   font-family:'GveretLevin' ;

}
div{
    background-color: #66b3ff;
    text-align: center;
    height:60px;
   font-size:100%;
   margin-bottom: 2%;

}
a{
    margin: 1%;
    font-family:'GveretLevin' ;

}
