
<br>
<h1>הספרים שאהבנו</h1>
<br>
<div>
    <br>
    <a class="headerA" routerLink="author">מחברים</a>
    <a class="headerA" routerLink="books">ספרים</a>
    <a class="headerA" routerLink="categories">קטגוריות</a>
    <a class="headerA" routerLink="copiec">עותקים</a>
    <a class="headerA" routerLink="crowd">קהל יעד</a>
    <a class="headerA" routerLink="lendind ditils">פרטי השאלות</a>
    <a class="headerA" routerLink="lending">השאלות</a>
    <a class="headerA" routerLink="subcription types">סוגי מנויים</a>
    <a class="headerA" routerLink="subscribers">מנויים</a>
    <a class="headerA" routerLink="workes">עובדים</a>
    
</div>