<!-- <div id="h1"> -->
<img src='../../../assets/pinkLogo.jpg' routerLink="">
<a routerLink="login">התחבר</a>
<h1>הספרים שאהבנו</h1>
<br>
<!-- </div> -->
<div>
    <br>
    <button class="headerA" routerLink="books">ספרים</button>
    <button class="headerA" routerLink="subscribers">מנויים</button>
    <button class="headerA" routerLink="lending">השאלות</button>
    <button class="headerA" routerLink="return">החזרה מהירה</button>
    <button class="headerA" routerLink="author">מחברים</button>
    <button class="headerA" routerLink="categories">קטגוריות</button>
    <button class="headerA" routerLink="crowd">קהל יעד</button>
    <button class="headerA" routerLink="subcription types">סוגי מנויים</button>
    <button class="headerA" routerLink="workes">עובדים</button>

</div>