h2 {
    font-size: 300%;
    font-family: 'GveretLevin';
    font-weight: bold;
}

input {
    font-weight: bold;
}

.a {
    font-family: 'GveretLevin';
    border: inset;
    background-color: #92c2f3;
    border-color: #92c2f3;
    width: 70px;
    height: 40px;
    font-size: 130%;
}


/* 
mat-label {
    font-weight: bold;
    color: black;
} */