<br>
<br>
<h2>השאלה / החזרה</h2>



<mat-form-field>
    <mat-label>תז מנוי</mat-label>
    <input matInput name="subId" [(ngModel)]="newLending.idSubscribers">
</mat-form-field>



<!-- <mat-form-field>
    <mat-label>תז עובד</mat-label>
    <input matInput name="subId" [(ngModel)]="newLending.worker">
</mat-form-field> -->


<button mat-mini-fab color="accent" aria-label="Example icon button with a search one icon" (click)="addLend()">
    <mat-icon>search</mat-icon>
</button>
<br>

<div *ngIf="lendingDitils != null">

    <p>שם מנוי: {{newSubsriber.firstName+" "+ newSubsriber.lastName}}
        <br><br> כמות הספרים שניתן להשאיל בסה"כ היא {{newSubsriber.numOfBooks }}
        <br></p>


    <div *ngIf="sum > 0">
        <mat-form-field>
            <mat-label>קוד ספר להשאלה</mat-label>
            <input matInput name=" codeOtek " [(ngModel)]="newLendingDitail.codeOtek ">
        </mat-form-field>

        <mat-form-field>
            <mat-label>הערה להשאלה</mat-label>
            <input matInput name="note " [(ngModel)]="newLendingDitail.comment ">
        </mat-form-field>
        <!-- color="accent " -->
        <button mat-mini-fab aria-label="Example icon button with a search one icon " (click)="addBookToLend() ">
        <mat-icon>search</mat-icon>
        </button>

    </div>
    <table mat-table [dataSource]="lendingDitils " class="mat-elevation-z8 ">

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->


        <!-- Name Column -->
        <ng-container matColumnDef="serial">
            <th mat-header-cell *matHeaderCellDef> מספר סידורי </th>
            <td mat-cell *matCellDef="let element"> {{element.codeOtek}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="bookName">
            <th mat-header-cell *matHeaderCellDef> שם ספר </th>
            <td mat-cell *matCellDef="let element"> {{element.bookName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef> הערה </th>
            <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
        </ng-container>

        <ng-container matColumnDef="expectedReturnDate">
            <th mat-header-cell *matHeaderCellDef> תאריך החזרה צפוי</th>
            <td mat-cell *matCellDef="let element"> {{ element.exexpectedReturnDate| date:'shortDate' }} </td>
        </ng-container>

        <ng-container matColumnDef="return">
            <th mat-header-cell *matHeaderCellDef> החזרה </th>
            <td mat-cell *matCellDef="let element">
                <button mat-fab color="primary" class="example-button-container" aria-label="Example icon button with a keyboard_return icon" (click)="returnD(element.codeOtek)">
             
                    <mat-icon>keyboard_return</mat-icon>
            </button>
            </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>