<br><br>


<form #f="ngForm" (ngSubmit)="f.valid && savaWorker()">

    <!-- <div *ngIf="id!=null"> -->




    <div *ngIf="id != -1">
        <h2>עדכון עובד</h2>

        <mat-form-field>
            <mat-label>תעודת זהות</mat-label>
            <input matInput name="subId" [(ngModel)]="newWorker.idWorker" disabled required>
        </mat-form-field><br><br>
    </div>

    <div *ngIf="id==-1">
        <h2>הוספת עובד</h2>

        <mat-form-field>
            <mat-label>תעודת זהות</mat-label>
            <input matInput name="subId" type="number" [(ngModel)]="newWorker.idWorker" required>
        </mat-form-field><br><br>

    </div>

    <mat-form-field>
        <mat-label>שם </mat-label>
        <input matInput name="subFirstName" pattern="[A-Za-z]+" title="אנא הזן אותיות A-Z בלבד" [(ngModel)]="newWorker.address" required>
    </mat-form-field><br><br>


    <mat-form-field>
        <mat-label> כתובת מייל</mat-label>
        <input matInput name="subAddress" [(ngModel)]="newWorker.name" required>
    </mat-form-field><br><br>

    <mat-form-field>
        <mat-label>טלפון</mat-label>
        <input matInput name="subPhon" type="tel" [(ngModel)]="newWorker.phone" required>
    </mat-form-field><br><br>



    <mat-form-field appearance="fill">
        <mat-label> סוג עובד .</mat-label>
        <mat-select [(ngModel)]="newWorker.typeWork" name="subType" required>
            <mat-option *ngFor="let type of types" [value]="type">

                {{type}}
            </mat-option>
        </mat-select>
    </mat-form-field><br><br>



    <mat-form-field>
        <mat-label>סיסמא</mat-label>
        <input matInput name="subMail" type="password" [(ngModel)]="newWorker.password" required>
    </mat-form-field><br><br>



    <input type="submit" class="example-button-row" mat-stroked-button color="accent" value="save"> routerLink="/workes"



</form>