<br><br>
<h2>הוספת עובד</h2>


<form>

    <!-- <div *ngIf="id!=null"> -->



  
      <div *ngIf="id != -1">
  
      <mat-form-field >
          <mat-label>תעודת זהות</mat-label>
          <input matInput name="subId" [(ngModel)]="newWorker.idWorker" disabled>
        </mat-form-field><br><br>
      </div>
   
    <div *ngIf="id==-1">
  
      <mat-form-field >
          <mat-label>תעודת זהות</mat-label>
          <input matInput name="subId" [(ngModel)]="newWorker.idWorker">
        </mat-form-field><br><br>
  
    </div> 
  
        <mat-form-field>
          <mat-label>שם </mat-label>
          <input matInput name="subFirstName" [(ngModel)]="newWorker.name">
        </mat-form-field><br><br>
  
  
        <mat-form-field>
          <mat-label>כתובת</mat-label>
          <input matInput name="subAddress" [(ngModel)]="newWorker.address">
        </mat-form-field><br><br>
  
        <mat-form-field>
          <mat-label>טלפון</mat-label>
          <input matInput name="subPhon" type="tel" [(ngModel)]="newWorker.phone">
        </mat-form-field><br><br>



  <mat-form-field appearance="fill">
          <mat-label> סוג עובד .</mat-label>
          <mat-select [(ngModel)]="newWorker.typeWork" name="subType">
            <mat-select >
                <mat-option value="option1">מנהל/ת</mat-option>
                <mat-option value="option2" >Option 2 (disabled)</mat-option>
                <mat-option value="option3">ספרן/ית</mat-option>
              </mat-select>
          </mat-select>
        </mat-form-field><br><br>



        <mat-form-field>
          <mat-label>סיסמא</mat-label>
          <input matInput name="subMail" type="email" [(ngModel)]="newWorker.password">
        </mat-form-field><br><br>
  
        
      
        <button class="example-button-row" mat-stroked-button color="accent" (click)="savaWorker()" routerLink="/workes">Accent</button>
  
  
  
  </form>