<br><br>


<form #f="ngForm" (ngSubmit)="f.valid && savaWorker()">

    <!-- <div *ngIf="id!=null"> -->




    <div *ngIf="id != -1">
        <h2>עדכון עובד</h2>

        <mat-form-field>
            <mat-label>תעודת זהות</mat-label>
            <input matInput name="subId" [(ngModel)]="newWorker.idWorker" disabled required>
        </mat-form-field><br><br>
    </div>

    <div *ngIf="id==-1">
        <h2>הוספת עובד</h2>

        <mat-form-field>
            <mat-label>תעודת זהות</mat-label>
            <input matInput name="subId" type="number" pattern="[0-9]{8,9}" [(ngModel)]="newWorker.idWorker" required>
        </mat-form-field><br><br>

    </div>

    <mat-form-field>
        <mat-label>שם </mat-label>
        <input matInput name="subFirstName" pattern="[A-Za-z\u0590-\u05FF]*" title="אנא הזן אותיות בלבד" [(ngModel)]="newWorker.name" required>
    </mat-form-field><br><br>


    <mat-form-field>
        <mat-label> כתובת מייל</mat-label>
        <!-- [formControl]="emailFormControl" -->
        <input type="email" matInput name="subAddress" [(ngModel)]="newWorker.address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field><br><br>

    <mat-form-field>
        <mat-label>טלפון</mat-label>
        <input matInput name="subPhon" type="tel" pattern="[0-9]{10}" [(ngModel)]="newWorker.phone" required>
    </mat-form-field><br><br>



    <mat-form-field appearance="fill">
        <mat-label> סוג עובד .</mat-label>
        <mat-select [(ngModel)]="newWorker.typeWork" name="subType" required>
            <mat-option *ngFor="let type of types" [value]="type">

                {{type}}
            </mat-option>
        </mat-select>
    </mat-form-field><br><br>



    <mat-form-field>
        <mat-label>סיסמא</mat-label>
        <input matInput name="subMail" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" [(ngModel)]="newWorker.password" required>


    </mat-form-field>
    <p>Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</p>

    <br>


    <!-- <input type="number" (keyup.enter)="check()" ‏> -->
    <input type="submit" class="example-button-row" mat-stroked-button color="accent" value="save">



</form>